{% for category in  mainCategories %}
    <a class="p-2 text-dark" href="{{ path('video_list', {categoryname:category.name|slugify,id:  category.id}) }}">{{ category.name }}</a>
{% endfor %}
{% if app.user %}
    <a class="p-2 text-dark" href="{{ path('admin_main_page') }}">My account</a>
{% endif %}