<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{{ path('main_page') }}">Awesome Videos</a></h5>

    <form method="GET" class="form-inline my-0 mr-md-auto" action="{{ path('search_results') }}">
        <input class="form-control mr-sm-2" type="search" placeholder="video title"
               aria-label="Search video" name="query" value="{{ query is defined ? query : '' }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search video</button>
    </form>

    <nav class="my-2 my-md-0 mr-md-3">
        {{ render(controller('App\\Controller\\FrontController::mainCategories')) }}
    </nav>
    {% if not app.user %}
        <a class="btn btn-outline-primary mr-2" href="{{ path('pricing') }}">Sign up</a>
        <a class="btn btn-outline-primary" href="{{ path('login') }}">Sign in</a>
    {% endif %}
</div>