<form action="" method="GET" id="form-sorting">
    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" onchange='this.form.submit();' name="sortBy">
        <option selected>Sort...</option>
        <option value="rating" {{ app.request.get('sortBy') == 'rating' ? 'selected' : '' }}>Highest rated</option>
        <option value="asc" {{ app.request.get('sortBy') == 'asc' ? 'selected' : '' }}>Title A-Z</option>
        <option value="desc" {{ app.request.get('sortBy') == 'desc' ? 'selected' : '' }}>Title Z-A</option>
    </select>
    {% if query is defined %}
        <input type="hidden" name="query" value="{{ query }}">
    {% endif %}
</form>