<div class="row">
    {% for video in videos %}
        {% if videoNoMembers is not null %}
            {% set videoId = videoNoMembers %}
        {% else %}
            {% set videoId = video.path %}
        {% endif %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div align="center" class="embed-responsive embed-responsive-16by9">
                    <iframe class="" src="{{ videoId }}" frameborder="0"
                            allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h3>{{ video.getTitle() | capitalize }}</h3>
                    {% if not app.user or videoNoMembers is not null %}
                        <p class="card-text text-danger">Video for <b>MEMBERS</b> only.
                            <a href="{{ path('pricing') }}">Sign up</a> for one month for free.</p>
                    {% endif %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">

                            <i class="fa fa-thumbs-up number-of-likes-{{ video.id }}"><small class="text-muted">({{ video.getUsersThatLike().count }})</small></i>&nbsp;
                            <i class="fa fa-thumbs-down number-of-dislikes-{{ video.id }}"><small class="text-muted">({{ video.getusersThatDontLike().count }})</small></i>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                {{ include('front/includes/likes.html.twig', {'video': video}) }}
                            {% endif %}
                            <a class="ml-1" href="{{ path('video_details', {'video': video.id}) }}#video_comments">Comments ({{ video.comments.count }})</a>
                        </div>
                        <small class="text-muted">{{ video.duration() }} mins</small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>