{% if editedCategory.parent is defined and editedCategory.parent == null %}
    <option value="0" selected>No Parent</option>
{% else %}
    <option value="0">No Parent</option>
{% endif %}

{% for category in categories.categoryList %}
    {% if editedCategory is not empty and editedCategory.parent is not empty and editedCategory.parent.getId() == category.id %}
        <option value="{{ category.id }}" selected>{{ category.name }}</option>
    {% else %}
        <option value="{{ category.id }}">{{ category.name }}</option>
    {% endif %}
{% endfor %}