{% extends 'admin/base.html.twig' %}

{% block mainadmin %}

{% block styles %}
{{ parent() }}
    <style>
        .fa-ul>li {
            margin-top: 15px;
        }
    </style>
{% endblock %}

<h2>Categories list</h2>

{{ categories.categoryList|raw }}

{{ form_start(form) }}
    <div class="col-md-4 mb-3">
        <label for="validationServer01">Add new category</label>
        {{ form_widget(form.name, {'attr': {'class': 'form-control'
            ~ ((form.name.vars.errors is empty) ? "" : ' is-invalid'),
            'placeholder': 'category.name.placeholder', 'id': 'name'}}) }}
	    <label for="inlineFormCustomSelect">Parent:</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="category[parent]">
          {{ render(controller('App\\Controller\\Admin\\SuperAdmin\\CategoriesController::getAllCategories')) }}
        </select>
        <div class="invalid-feedback">
            {{ form_errors(form.name) }}
        </div>
        <button class="btn btn-primary mt-3" type="submit">Add</button>
    </div>
{{ form_end(form) }}

{% endblock %}
