{% extends 'admin/base.html.twig' %}

{% block mainadmin %}

<h2>Editing category</h2>
{{ form_start(form) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'
        ~ ((form.name.vars.errors is empty) ? "" : ' is-invalid'),
        'placeholder': 'category.name.placeholder', 'id': 'name'}}) }}
    <label for="inlineFormCustomSelect">Parent:</label>
    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="category[parent]">
        {{ render(controller('App\\Controller\\Admin\\SuperAdmin\\CategoriesController::getAllCategories', {'editedCategory': category})) }}
    </select>
    <div class="invalid-feedback">
        Category already exists!
    </div>
    <button class="btn btn-primary mt-3" type="submit">Save</button>
{{ form_end(form) }}

{% endblock %}
