{% extends 'admin/base.html.twig' %}

{% block mainadmin %}
    <h2>{% trans %}my_profile{% endtrans %}
        <form action="{{ path('delete_account') }}" class="d-inline" method="post">
            <button class="btn btn-link" onclick="return confirm('Are you sure?');" value="Delete Account"><h2><small>delete account</small></h2></button>
        </form>
    </h2>
    {% if not is_granted('ROLE_ADMIN') and subscription and subscription.getPlan in subscription.getPlanDataNames %}
        <p class="text-left">My plan - {{ subscription.getPlan | upper }}. <b>valid to: </b>{{ subscription.getValidTo | date('Y-m-d') }}
        {% if subscription.getValidTo == null or subscription.paymentStatus == null or date(subscription.getValidTo) < date() %}
            Plan is not active <a href="{{ path('payment') }}">pay for plan</a> |
        {% endif %}
        {% if subscription.getPlan == subscription.getPlanDataNameByIndex(0) %}
            <a href="{{ path('pricing') }}">get paid plan</a> |
        {% endif %}
        <a onclick="return confirm('Are you sure? This can not be undone. Remember also to cancel payment in your PayPal account.');"
           href="{{ path('cancel_plan') }}">cancel plan</a></p>
    {% elseif not is_granted('ROLE_ADMIN') %}
        <p class="text-left">You don't have any plan. <a href="{{  path('pricing') }}">Get plan</a></p>
    {% endif %}
    {{ form_start(form, {'attr': {'class':'needs-validation'}}) }}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="form-group">
                <label for="user_vimeo_api_key">Vimeo API key</label>
                {{ form_widget(form.vimeo_api_key) }}
                <div class="invalid-feedback">
                    Please provide api key
                </div>
            </div>
        {% endif %}
        <div class="form-group">
            <label for="user_name">Name</label>
            {{  form_widget(form.name, {'attr': {'class': 'form-control' ~ (form.name.vars.errors is empty ? "" : "is-invalid") }}) }}
            <div class="invalid-feedback">
               {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="form-group">
            <label for="user_last_name">Last name</label>
            {{  form_widget(form.last_name, {'attr': {'class': 'form-control' ~ (form.last_name.vars.errors is empty ? "" : "is-invalid") }}) }}
            <div class="invalid-feedback">
                {{ form_errors(form.last_name) }}
            </div>
        </div>
        <div class="form-group">
            <label for="user_email">Email address</label>
            {{  form_widget(form.email, {'attr': {'class': 'form-control' ~ (form.email.vars.errors is empty ? "" : "is-invalid") }}) }}
            <div class="invalid-feedback">
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="form-group">
            <label for="user_password_first">Password</label>
            {{  form_widget(form.password.first, {'attr': {
                'class': 'form-control' ~ (form.password.first.vars.errors is empty ? "" : "is-invalid"),
                'required': 'required'
            }}) }}
            <div class="invalid-feedback">
                {{ form_errors(form.password.first) }}
            </div>
        </div>
        <div class="form-group">
            <label for="user_password_second">Confirm password</label>
            {{  form_widget(form.password.second, {'attr': {
                'class': 'form-control' ~ (form.password.second.vars.errors is empty ? "" : "is-invalid"),
                'required': 'required'
            }}) }}
            <div class="invalid-feedback">
                {{ form_errors(form.password.second) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}

{% endblock %}