{% extends 'admin/base.html.twig' %}

{% block mainadmin %}

    {{ form_errors(form.uploaded_video) }}
    <h2>Upload a video</h2>

    {{ form_start(form) }}
        <div class="form-group">
            <div class="custom-file">
{#                <input type="file" name="file_data" class="custom-file-input" id="customFile" onchange="console.log(this)">#}
                {{ form_widget(form.uploaded_video) }}
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(form) }}

{% endblock %}