{% extends 'admin/base.html.twig' %}

{% block mainadmin %}

    <h2>Upload a video</h2>

    <div class="app-user-vimeo-token" data-user-token="{{ app.user.vimeoApiKey }}"></div>

    <form method="post" id="form-upload" action="" enctype="multipart/form-data">
        <div class="form-group">
            <div class="custom-file">
                <input type="file" name="file_data" class="custom-file-input" id="customFile" onchange="onFormChange()">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
    </form>

{% endblock %}

{% block customjavascritps %}
    {{ parent() }}
    <script>
        var userVimeoToken = null;
        document.addEventListener('DOMContentLoader', function(){
            var userVimeoTokenDiv = document.querySelector('.app-user-vimeo-token');
            userVimeoToken = userVimeoTokenDiv.dataset.userToken;
        });

        function onFormChange(){
            document.getElementById('submit-button').disabled = true;
            document.getElementById('submit-button').innerText = 'Wait ...';
            var filename = document.getElementById('customFile').files.item(0).name;
            fileName = filename.replace('/\.[^.]+$/', '');
            var data = "upload.approach=post&name="+filename+"&privacy.view=anybody&upload.redirect_url={url('upload_video_by_vimeo')}?videoName%3d"+filename
            var xhr = new XMLHttpRequest();

            // get the response
            xhr.addEventListener('readystatechange', function(){
                if(this.readyState === 4) {
                    var myObj = JSON.parse(this.responseText);
                    console.log(myObj)
                    // after sending the data wait for the response get the upload link and based on this upload link
                    // you sent the file to vimeo, click agagin to upload the link
                    document.getElementById('form-upload').action = myObj.upload.upload_link
                    document.getElementById('submit-button').disabled = false;
                    document.getElementById('submit-button').innerText = 'You can now upload the video';
                }
            })

            xhr.open('POST', 'htttps://api.vimeo.com/me/videos');
            xhr.setRequestHeader("Accept", "application/vnd.vimeo.*+json;version=3.4");
            xhr.setRequestHeader("Content-Type", "application/x-www-from-urlencode");
            xhr.setRequestHeader("Authorization", "Bearer " + userVimeoToken)
            xhr.send(data)
        }
    </script>
{% endblock %}