{% extends 'admin/base.html.twig' %}

{% block mainadmin %}
    <h2>Users</h2>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.getName() }}</td>
                <td>{{ user.getLastName() }}</td>
                <td>{{ user.getEmail() }}</td>
                <td>
                    <form method="post" action="{{ path('delete_user', {'user': user.id}) }}">
                        <input type="hidden" name="token" value="{{ csrf_token('delete_user') }}">
                        <button id="btn-user-delete-{{ user.id }}" class="btn btn-link" onclick="return confirm('Are you sure?');"><i class="fas fa-trash"></i></button>
                    </form>
                </td>
            </tr>
           {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}