{% extends 'admin/base.html.twig' %}

{% block mainadmin %}

<h2>
    {% if is_granted('ROLE_ADMIN') %}
        Videos
    {% else %}
        My liked videos
    {% endif %}
</h2>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Video name</th>
        <th>Link</th>
        {% if is_granted('ROLE_ADMIN') %}
          <th>Category</th>
          <th>Delete</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for video in videos %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ video.getTitle() }}</td>
            <td><a target="_blank" href="{{ path('video_details', {'video': video.id}) }}">go to video</a></td>
            {% if is_granted('ROLE_ADMIN') and video.duration is null %}
                <a href="{{ path('set_video_duration', {'video': video.id, 'vimeoId': video.vimeoId}) }}">set
                    duration</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <form action="{{ path('update_video_category', {'video': video.getId()}) }}" method="POST">
                        <select name="video_category" onchange="this.form.submit();">
                            {% for category in categories %}
                                {% if video.category is not null and video.category.id == category.id %}
                                    <option selected value="{{ category.id }}">{{ category.name }}</option>
                                {% else %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endif %}
                            {% endfor %}
                            {% if video.category is null %}
                                <option value="0">No category</option>
                            {% endif %}
                        </select>
                    </form>
                </td>
                <td><a href="{{ path('delete_video', {'video': video.getId(), 'path': video.getPath()}) }}"><i class="fas fa-trash"></i></a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block scripts %}
{{ parent() }}
    <script>
		// function delete_video(e,video_id)
		// {
		// 	e.preventDefault();
		// 	if(confirm('Are you sure?'))
		// 	{
		// 		console.log(id);
		// 		// delete video from vimeo
		// 		// window.location.href = 'clear database record with Symfony';
		// 	}
		// }
    </script>
{% endblock %}