{% extends 'base.html.twig' %}

{% block menu %}{% endblock %}
{% block footer_links %}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
{% endblock %}

{% block content %}
{% if error is not empty%}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}
<form method="POST" action="{{ path('login') }}" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="_email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="_password">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remeber_me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018 <a href="{{ path('main_page') }}">main page</a></p>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
</form>
{% endblock %}