{% extends 'base.html.twig' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">Watch the best videos on the planet. Choose a plan that is right for you. Downgrade or upgrade at
        any time.
    </p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        {%  for name in names %}
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ name | capitalize }}</h4>
            </div>
            {% if name == 'free' %}
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">${{ prices[name] }}<small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Access for one month</li>
                        <li>Help center access</li>
                    </ul>
                    <a role="button" href="{{ path('register', {'plan': name}) }}" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</a>
                </div>
            {% endif %}
            {% if name == 'pro' %}
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Unlimited access</li>
                        <li>HD available</li>
                        <li>No ads on videos</li>
                        <li>Help center access</li>
                    </ul>
                    <a role="button" href="{{ path('register', {'plan': name}) }}" class="btn btn-lg btn-block btn-primary">Get started</a>
                </div>
            {% endif %}
            {% if name == 'enterprise' %}
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Unlimited access</li>
                    <li>Ultra HD available</li>
                    <li>No ads on videos</li>
                    <li>Help center access</li>
                    <li>Unlimited live events</li>
                </ul>
                <a role="button" href="{{ path('register', {'plan': name}) }}" class="btn btn-lg btn-block btn-primary">Contact us</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}