{% extends 'base.html.twig' %}

{% block styles %}
    {{ parent() }}
    {% if app.user %}
        <link rel="stylesheet" type="text/css" href="{{  asset('build/css/likes.css') }}">
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {% if app.user %}
        {{ encore_entry_script_tags('likes') }}
    {% endif %}
{% endblock %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        {% if videos is empty %}
        <h1 class="jumbotron-heading">No results were found</h1>
        {% else %}
        <h1 class="jumbotron-heading">Search results</h1>
            {{ include('front/includes/_sort.html.twig') }}
        {% endif %}
    </div>
</section>
<section>
    {% if videos is not empty %}
        {{ include('front/includes/_videos.html.twig', {'videos': videos}) }}
        <!-- pagination -->
        {{ knp_pagination_render(videos) }}
    {% endif %}
</section>
{% endblock %}