{% extends 'base.html.twig' %}

{% block styles %}
    {{ parent() }}
    {% if app.user %}
        <link rel="stylesheet" type="text/css" href="{{  asset('build/css/likes.css') }}">
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {% if app.user %}
        {{ encore_entry_script_tags('likes') }}
    {% endif %}
{% endblock %}

{% block content %}

    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">

                <h1 class="jumbotron-heading">Category - {{ categories.currentCategoryName }}</h1>
                <div class="btn-group">
                    <div class="dropdown ml-2">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Subcategories
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <ul class="mr-5">
                                <li><a href="{{ path('video_list', {id: categories.mainParentId, categoryname: categories.mainParentName|slugify}) }}">{{ categories.mainParentName }}</a></li>
                                {{ categories.categoryList|raw }}
                            </ul>
                        </div>
                    </div>

                    <div class="form-row align-items-center ml-3">
                        {{ include('front/includes/_sort.html.twig') }}
                    </div>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                {{ include('front/includes/_videos.html.twig', {'videos': videos}) }}
            </div>
        </div>

        <!-- pagination -->
        {{ knp_pagination_render(videos) }}
    </main>
{% endblock %}