{% extends 'base.html.twig' %}

{% if videoNoMembers is not null %}
   {% set videoId = videoNoMembers %}
{% else %}
   {% set videoId = video.path %}
{% endif %}

{% block content %}
<br>

<h1>{{ video.getTitle() }}</h1>
<div align="center" class="embed-responsive embed-responsive-16by9">
    <iframe class="" src="{{ videoId }}" frameborder="0" allowfullscreen></iframe>
</div>

<hr>

<div class="row m-2">
    <div class="col-sm-12">
        <a id="video_comments"></a>
        {% for comment in video.comments %}
            <div class="media text-left">
                <img class="mr-3" src="{{ asset("assets/img/user.jpg") }}" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 mb-1"><b>{{ comment.user.name }} {{ comment.user.lastName }}</b>
                        <small class="text-muted">added a comment <small><b>{{ comment.getCreatedAt() | ago }}</b></small></small></h5>{{ comment.content }}
                    {% if app.user and comment.user.getId() == app.user.id %}
                        <a href="{{ path('delete_comment', {'comment': comment.id}) }}">Delete comment</a>
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form method="POST" action="{{ path('store_comment', {'video': video.id}) }}#video_comments">
            <input type="hidden" name="token" value="{{ csrf_token('store-comment') }}"/>
            <div class="form-group">
                <label for="content">Add a comment</label>
                <textarea name="content" required class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" value="Add">Add</button>

        </form>
    </div>
</div>

{% endblock %}