<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

        <style>
            .form-control {
                background-color: #f8f5f5;
            }
        </style>

        <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.min.css') }}">
    {% block styles %}{% endblock %}

    <title>{% block title %}Symfony 4 course app - video sharing service{% endblock %}</title>

</head>

<body class="text-center">
<div class="container-fluid">
    {% block menu %}
        {% include('front/includes/_menu.html.twig') %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer_links %}
        {% include('front/includes/_footer_links.html.twig') %}
    {% endblock %}
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script src="{{ asset('assets/js/popper.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.js') }}"></script>

    <script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
    </script>
{% block scripts %}{% endblock %}

</body>
</html>